
  <html>
    <head>
      <meta charset='utf-8' />
        <title>IQUIZZ </title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    </head>
    <style>
      a {
        text-decoration: none;
      }
    </style>
<body>
  <header>
            <!-- Left aligned menu below button -->
  <button id="demo-menu-lower-left"
    class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">
      more_vert
    </i>
  </button>

  <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-lower-left">        
    <a href="/api/dashboard">
      <li class="mdl-menu__item mdl-menu__item--full-bleed-divider"><i class="material-icons">arrow_back_ios</i></li>
    </a>
  </ul>
  </header>

<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--8-col-phone">

        <!-- Wide card with share menu button -->
        <style>
        .demo-card-wide.mdl-card {
          width: 100%;
          padding: 75px;
        }
        .demo-card-wide > .mdl-card__title {
          color: #fff;
          height: 420px;
          background: url('../assets/demos/welcome_card.jpg') center / cover;
        }
        .demo-card-wide > .mdl-card__menu {
          color: #fff;
        }
        .demo-list-control {
          width: 300px;
        }

        .demo-list-radio {
          display: inline;
        }
        </style>


<div class="demo-card-wide mdl-card mdl-shadow--2dp">

  <form action= '/api/disciplines/new' method= 'POST'>
    
    <span style="font-size: 26px; color: #aa00c7">
      <i class="fas fa-atom"></i>&nbsp;&nbsp;&nbsp;
    </span>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" name="nameDiscipline" type="text" id="discipline_name" onkeyup="this.value = this.value.toUpperCase();" required autofocus>
      <label class="mdl-textfield__label" for="discipline_name">Nome da Conquista...</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" name="act" type="text" id="discipline_act" onkeyup="this.value = this.value.toUpperCase();" required>
      <label class="mdl-textfield__label" for="discipline_act">Ato...</label>
    </div>

<br/><br/><br/><br/>
<ul>
    <span style="font-size: 32px;">
      <i class="fas fa-user-ninja"></i>&nbsp;&nbsp;&nbsp;Nível
    </span>
    <br/><br/>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Globin
    </span>
    <span class="mdl-list__item-secondary-action">
      <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-1">
        <input type="radio" id="list-option-1" class="mdl-radio__button" name="lvl" value="globin"  />
      </label>
    </span>
  </li>

  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Arqueiro
    </span>
    <span class="mdl-list__item-secondary-action">
      <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-2">
        <input type="radio" id="list-option-2" class="mdl-radio__button" name="lvl" value="arqueiro" />
      </label>
    </span>
  </li>

  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Elfo
    </span>
    <span class="mdl-list__item-secondary-action">
      <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-3">
        <input type="radio" id="list-option-3" class="mdl-radio__button" name="lvl" value="elfo" />
      </label>
    </span>
  </li>

  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Guerreiro
    </span>
    <span class="mdl-list__item-secondary-action">
      <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-4">
        <input type="radio" id="list-option-4" class="mdl-radio__button" name="lvl" value="guerreiro"  />
      </label>
    </span>
  </li>

  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Templário
    </span>
    <span class="mdl-list__item-secondary-action">
      <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-5">
        <input type="radio" id="list-option-5" class="mdl-radio__button" name="lvl" value="templario" />
      </label>
    </span>
  </li>

  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Mago
    </span>
    <span class="mdl-list__item-secondary-action">
      <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-6">
        <input type="radio" id="list-option-6" class="mdl-radio__button" name="lvl" value="mago" />
      </label>
    </span>
  </li>

  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Monge
    </span>
    <span class="mdl-list__item-secondary-action">
      <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-7">
        <input type="radio" id="list-option-7" class="mdl-radio__button" name="lvl" value="monge" />
      </label>
    </span>
  </li>
</ul>

  <br/><br/>
  
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit">
    <i class="material-icons">done</i>&nbsp;&nbsp;SALVAR
  </button>

  </form>

  </div>
</div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">

        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
          <input type="checkbox" id="switch-2" class="mdl-switch__input" checked>
          <span class="mdl-switch__label">Artes</span>
        </label>
    </div>

</div>

<% include ../footer.ejs %>